body {
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 5%;

}
h1{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%
}
h2{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%
}
